/.DS_Store
/lc0
/lc00
/lc1
/lc2
/locust1
/pythonProject
/pythonProject1
/pythonProject10
/pythonProject2
/pythonProject3
/pythonProject4
/pythonProject5
/pythonProject6
/pythonProject7
/pythonProject9
/untitled
/untitled1